.places {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}
.places h1 {
  font-size: 30px;
}
.title_places {
  padding-top: 30px;
  margin-bottom: -25px;
}
.articles {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}
article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: solid #ff5a5f 1px;
  border-radius: 4px;
  font-size: 30px;
  text-align: center;
}
article h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
